---
- name: "configuration play." 
  hosts: web
  remote_user: ubuntu
  become: true
  become_method: sudo
  become_user: root  
  gather_facts: false
  vars:
    ansible_python_interpreter: /usr/bin/python3
    ansible_host_key_checking: false
    ansible_stdout_callback: yaml
  pre_tasks:
    - name: "wait 600 seconds for target connection to become reachable/usable."
      wait_for:
        timeout: 600 
    
    - name: "install python for Ansible."
      shell: |
        test -e /usr/bin/python3 || (apt -y update && apt install -y python3)
  
  roles:
    - configure-server
    - configure-prometheus-node-exporter